stages:
  - deploy

Deploy vaultwarden:
  tags: ['prod-gitlab-runner01-shell']
  stage: deploy
  when: manual
  script:
    - |
      set -eo pipefail
      WORK_DIR=`mktemp -d`
      echo $WORK_DIR
      chmod 600 ${SSH_PRIVATE_KEY}
      envsubst < docker-compose.template.yml > docker-compose.yml
      ssh -o StrictHostKeyChecking=no -i ${SSH_PRIVATE_KEY} ${SERVER_USER}@${SERVER_IP} "mkdir -p $WORK_DIR"
      scp -o StrictHostKeyChecking=no -i ${SSH_PRIVATE_KEY} docker-compose.yml ${SERVER_USER}@${SERVER_IP}:/$WORK_DIR/
      ssh -o StrictHostKeyChecking=no -i ${SSH_PRIVATE_KEY} ${SERVER_USER}@${SERVER_IP} \
      "docker compose -p prod-vaultwarden -f $WORK_DIR/docker-compose.yml up -d --force-recreate && rm -rf $WORK_DIR"
# rules:
#   - if: '$CI_COMMIT_TAG'
