services:
  vaultwarden-mysql:
    image: mariadb:11.8
    container_name: prod-vaultwarden-mysql
    hostname: prod-vaultwarden-mysql
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - TZ=Europe/Minsk
    volumes:
      - prod-vaultwarden-mysql:/var/lib/mysql
    networks:
      - prod-vaultwarden

  vaultwarden:
    image: vaultwarden/server:1.34.3
    container_name: prod-vaultwarden
    hostname: prod-vaultwarden
    restart: unless-stopped
    depends_on:
      - vaultwarden-mysql
    ports:
      - "8089:80"
    environment:
      DATABASE_URL: mysql://${MARIADB_USER}:${MARIADB_PASSWORD}@vaultwarden-mysql:3306/${MARIADB_DATABASE}
      DOMAIN: "https://vw.shop.by"
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      ADMIN_RATELIMIT_MAX_BURST: 10
      ADMIN_RATELIMIT_SECONDS: 60
      EMERGENCY_ACCESS_ALLOWED: "false"
      SIGNUPS_ALLOWED: "false"
      INVITATIONS_ALLOWED: "false"
      SHOW_PASSWORD_HINT: "false"
      SMTP_HOST: "lan-mailrelay.shop.by"
      SMTP_FROM: "vaultwarden@shop.by"
      SMTP_PORT: 587
      SMTP_SECURITY: starttls


    volumes:
      - prod-vaultwarden:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - prod-vaultwarden

networks:
  prod-vaultwarden:
    name: prod-vaultwarden
    driver: bridge

volumes:
  prod-vaultwarden:
    name: prod-vaultwarden
  prod-vaultwarden-mysql:
    name: prod-vaultwarden-mysql
